.item {
  line-height: 1;
}

.item > a {
  display: block;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  color: #00008b;
  text-decoration: none;
  padding: 14px 0;
  border-radius: 8px;
  width: 100px;
}

.item > a:hover {
  transition: 0.2s;
  background-color: #0000cd;
  color: #fff;
  border-radius: 8px;
}
