.container {
  text-align: center;
  width: 50%;
  margin: 80px auto;
}

.title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
}

.link {
  text-align: left;
  margin-top: 10px;
}

.link a {
  color: #fff;
  text-decoration: none;
}
.link a:hover {
  color: #6b8e23;
}
